@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #850E35;
  --accent-contrast: #FFC4C4;
  --main-bg: #F5F5F5;
  --box-bg: #FFFFFF;
  --indigo: #F4E2FF;
  --main-text: #24292E;
  --sec-text: #959DA5;

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--main-text);
  background: var(--main-bg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
